h1 {
    color:white;
    background:linear-gradient(.25turn,navy,rgb(120, 120, 210));
}
h3 {
    color:white;
    background-color:navy;
}
a:link {
  color: blue;
}
a:visited {
    color:purple;
}
a:hover {
    color:red;
}