h1 {
    color:white;
    background:linear-gradient(.25turn,navy,rgb(120, 120, 210));
    border:double;
}
h2{
    color:white;
    background-color:navy;
    border:dashed;
}
h3 {
    color:white;
    background-color:rgb(120, 120, 210);
    border:ridge blueviolet;
}
a:link {
  color: blue;
}
a:visited {
    color:purple;
}
a:hover {
    color:red;
}
.enshu{
    display: grid;
    border:groove;
    border-width: 5px;
}
